.card{
  height:270px;
  margin-bottom:16px;
  background-color: #fafafa;
  img{
    height: 220px;
    width:100%;
    object-fit: cover;
  }
}
p{
  font-family:"Monrope";
  font-size:1.2rem!important;
}
