<ion-content>
  <ion-grid fixed class="header">
    <ion-row class="ion-justify-content-between ion-align-items-baseline">
      <ion-col size="2">
        <app-icon [name]="scanIcon.name" [icon]="scanIcon.icon" />
      </ion-col>

      <ion-col size="2">
        <img
          class="avatar"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h4 class="ion-justify-content-between title">
          INCADAQUÉS 2020
          <svg class="ion-icon"xmlns:android="http://schemas.android.com/apk/res/android" android:tint="?attr/colorControlNormal" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12,21.35l-1.45,-1.32C5.4,15.36 2,12.28 2,8.5 2,5.42 4.42,3 7.5,3c1.74,0 3.41,0.81 4.5,2.09C13.09,3.81 14.76,3 16.5,3 19.58,3 22,5.42 22,8.5c0,3.78 -3.4,6.86 -8.55,11.54L12,21.35z" fill=""/>
          </svg>
        </h4>
        <small class="subtitle">15 - 25 OCTOBER 2020</small>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed class="ion-padding-top bg-light">
    <ion-row>
      @for (btn of menuButtons; track $index) {
      <ion-col size="2">
        <app-menu-button
          name="{{btn.name}}"
          icon="{{btn.icon}}"
          color="{{btn.color}}"
        />
      </ion-col>
      }
    </ion-row>
  </ion-grid>

  <ion-grid fixed class="ion-no-padding">
    @for (item of results; track $index) {
    <ion-row>
      <ion-col>
        <app-event-card
          name="{{item.first_name}} {{item.last_name}}"
          image="{{item.image}}"
          id="{{item.id}}"
        />
      </ion-col>
    </ion-row>
    }
  </ion-grid>
</ion-content>
