.header {
  background: #d99079;
  padding: 16px;
}
h4.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-family: ubuntu;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #29190b;
}

.subtitle {
  font-weight: 400;
  padding: 0 5px;
}
.avatar {
  width: 30px !important;
  height: 30px;


  border-radius: 50%;
}
.bg-light {
  background-color: #fafafa !important;
}
img.icon-heart{
  width:35px!important;
  height: 35px!important;
}
div.top-img-header{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin:5px;
}
