<ion-content>
  <ion-grid fixed class="header">
    <ion-row class="ion-justify-content-between ion-align-items-baseline">
      <ion-col size="12" >
        <div class="top-img-header">
          <app-icon [name]="scanIcon.name" [icon]="scanIcon.icon" />

          <img
            class="avatar"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h4 class="ion-justify-content-between title">
          INCADAQUÉS 2020
          <img class="icon-heart" src="assets/ic_heart_fill.svg" />
        </h4>
        <small class="subtitle">15 - 25 OCTOBER 2020</small>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed class="ion-padding-top bg-light">
    <ion-row>
      @for (btn of menuButtons; track $index) {
      <ion-col size="2">
        <app-menu-button
          name="{{btn.name}}"
          icon="{{btn.icon}}"
          color="{{btn.color}}"
        />
      </ion-col>
      }
    </ion-row>
  </ion-grid>

  <ion-grid fixed class="ion-no-padding">
    @for (item of results; track $index) {
    <ion-row>
      <ion-col>
        <app-event-card
          name="{{item.first_name}} {{item.last_name}}"
          image="{{item.image}}"
          id="{{item.id}}"
        />
      </ion-col>
    </ion-row>
    }
  </ion-grid>
</ion-content>
